{% extends "plantilla.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="card mx-4 my-4">
        <div class="card-header card-info">
            <h1 class="card-title">EDITAR ORDEN COMPRA</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy}}
                <div class="row mt-3 card border mx-4 py-3">
                    <div class="col-12">
                        <h5>DETALLE:</h5>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <label for="descripcionDetalle">Descripcion</label>
                                <input class="form-control" id="descripcionDetalle"/>
                            </div>
                            <div class="col-3">
                                <label for="cantidadDetalle">Cantidad</label>
                                <input class="form-control" type="number" id="cantidadDetalle"/>
                            </div>
                            <div class="col-3">
                                <label for="precioDetalle">Precio</label>
                                <input class="form-control" type="number" id="precioDetalle"/>
                            </div>
                            <div class="col-2 d-flex py-3">
                                <button class="btn btn-sm btn-primary align-center" type="button" onclick="agregarDetalle()">Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <table class="table w-100">
                            <thead>
                                <th> * </th>
                                <th>Descripcion</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Subtotal</th>
                            </thead>
                            <tbody id="tablaDetalle">
                            </tbody>
                        </table>
                    </div>                    
                </div>
                <div class="d-flex justify-content-end">
                    <a href="{% url 'listarNotasAlmacen' %}" class="btn
   btnsecondary">Cancelar</a> &nbsp;
                    <button type="submit" class="btn
btnprimary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock%}


{% block js %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
            "title": "Warning",
            "text":"{{m}}",
            "icon":"info"
            })
        </script>
    {% endfor %}
    {% endif %}

    <script>

        arrDetalle = []
        tabla=document.getElementById("tablaDetalle")
        descripcion=document.getElementById("descripcionDetalle")
        cantidad=document.getElementById("cantidadDetalle")
        precio=document.getElementById("precioDetalle")
        detalleHTML = document.getElementById("id_detalle")

        function agregarDetalle(){
            let tempRow=document.createElement("tr")
            tempRow.innerHTML=`
            <td style="text-align: center;">
                <a href="#" onclick="eliminarDetalle(${arrDetalle.length})" class="btn btn-danger btn-sm"><i class="text-light fa fa-trash"></i></a> 
            </td>`+"<td>"+descripcion.value+"</td><td style='text-align: center;'>"+cantidad.value+"</td><td style='text-align: center;'>S/"+precio.value+"</td><td style='text-align: center;'>S/"+parseInt(cantidad.value)*parseInt(precio.value)+"</td>"
            tabla.append(tempRow)
            
            arrDetalle.push({codDetalleOrdenCompra: 0, descripcion:descripcion.value,cantidad:cantidad.value,precio:precio.value, subtotal: parseInt(cantidad.value)*parseInt(precio.value), eliminado:0})

            descripcion.value = ""
            cantidad.value=""
            precio.value=""
            
            detalleHTML.value=JSON.stringify(arrDetalle);
            
            console.log(arrDetalle)
        }

        function eliminarDetalle(position){
            element = arrDetalle[position]
            if(element.codDetalleNota==0){
                arrDetalle.splice(position,1);
            }else{
                arrDetalle[position].eliminado=true
            }
            tempArr = []
            tabla.innerHTML=''
            for(detalle of arrDetalle){
                if(detalle.eliminado==0){
                    let tempRow=document.createElement("tr")
                    tempRow.innerHTML=`
                    <td style="text-align: center;">
                        <a onclick="eliminarDetalle(${tempArr.length})" class="btn btn-danger btn-sm"><i class="text-light fa fa-trash"></i></a> 
                    </td>`+"<td>"+detalle.descripcion+"</td><td style='text-align: center;'>"+detalle.cantidad+"</td><td style='text-align: center;'>S/"+detalle.precio+"</td><td style='text-align: center;'>S/"+parseInt(detalle.cantidad)*parseInt(detalle.precio)+"</td>"
                    tabla.append(tempRow)
                }

                tempArr.push({codDetalleOrdenCompra: detalle.codDetalleOrdenCompra, descripcion:detalle.descripcion, cantidad:detalle.cantidad, precio:detalle.precio, subtotal: parseInt(detalle.cantidad)*parseInt(detalle.precio), eliminado: detalle.eliminado})
                
                detalleHTML.value=JSON.stringify(tempArr);
            }
            arrDetalle = tempArr;
            console.log(arrDetalle)
        }
        
        window.onload= function(e){
            console.log('documentLoaded')
            console.log(detalleHTML)
            try{
                detalleJSON = JSON.parse(detalleHTML.value)
            }
            catch(ex){
                console.error(ex)
            }
            console.log(detalleJSON)
            for(detalle of detalleJSON){
                if(detalle.eliminado==0){
                    let tempRow=document.createElement("tr")
                    tempRow.innerHTML=`
                    <td style="text-align: center;">
                        <a  onclick="eliminarDetalle(${arrDetalle.length})" class="btn btn-danger btn-sm"><i class="text-light fa fa-trash"></i></a> 
                    </td>`+"<td>"+detalle.descripcion+"</td><td style='text-align: center;'>"+detalle.cantidad+"</td><td style='text-align: center;'>S/"+detalle.precioUnitario+"</td><td style='text-align: center;'>S/"+parseInt(detalle.cantidad)*parseInt(detalle.precioUnitario)+"</td>"
                    tabla.append(tempRow)
                }

                arrDetalle.push({codDetalleOrdenCompra: detalle.codDetalleOrdenCompra, descripcion:detalle.descripcion, cantidad:detalle.cantidad, precio: detalle.precioUnitario, subtotal: parseInt(detalle.cantidad)*parseInt(detalle.precioUnitario), eliminado: detalle.eliminado})
                
                detalleHTML.value=JSON.stringify(arrDetalle);
            }
            console.log(arrDetalle)

            
            detalleHTML.value=JSON.stringify(arrDetalle);
        }
    </script>
{% endblock%} 