{% extends "plantilla.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="card mx-4 my-4">
        <div class="card-header card-info">
            <h1 class="card-title">REGISTRAR NOTA ALMACEN</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy}}
                <div class="row mt-3 card border mx-4 py-3">
                    <div class="col-12">
                        <h5>DETALLE:</h5>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-5">
                                <label for="descripcionDetalle">Descripcion</label>
                                <input class="form-control" id="descripcionDetalle"/>
                            </div>
                            <div class="col-5">
                                <label for="cantidadDetalle">Cantidad</label>
                                <input class="form-control" type="number" id="cantidadDetalle"/>
                            </div>
                            <div class="col-2 d-flex py-3">
                                <button class="btn btn-sm btn-primary align-center" type="button" onclick="agregarDetalle()">Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <table class="table w-100">
                            <thead>
                                <th>Descripcion</th>
                                <th>Cantidad</th>
                            </thead>
                            <tbody id="tablaDetalle">
                            </tbody>
                        </table>
                    </div>                    
                </div>
                <div class="d-flex justify-content-end">
                    <a href="{% url 'listarNotasAlmacen' %}" class="btn
   btnsecondary">Cancelar</a> &nbsp;
                    <button type="submit" class="btn
btnprimary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{form}}
{{detalle}}
{{strDetalle}}
</div>
{% endblock%}


{% block js %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
            "title": "Warning",
            "text":"{{m}}",
            "icon":"info"
            })
        </script>
    {% endfor %}
    {% endif %}

    <script>
        arrDetalle = []
        tabla=document.getElementById("tablaDetalle")
        descripcion=document.getElementById("descripcionDetalle")
        cantidad=document.getElementById("cantidadDetalle")
        detalle = document.getElementById("id_detalle")

        function agregarDetalle(){
            let tempRow=document.createElement("tr")
            tempRow.innerHTML="<td>"+descripcion.value+"</td><td>"+cantidad.value+"<td>"
            tabla.append(tempRow)
            
            arrDetalle.push({descripcion:descripcion.value,cantidad:cantidad.value})

            descripcion.value = ""
            cantidad.value=""
            
            detalle.value=JSON.stringify(arrDetalle);
            
            console.log(arrDetalle)
        }
    </script>
{% endblock%} 